# Local API URL for development
VITE_API_URL=http://127.0.0.1:8001

# Nodemailer Settings (For Contact Form)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password
 